# env instructions!! READ IT CAREFULLY
# INCASE YOU WANT TO SET VALUES FOR THE ENVIRONMENT, FOLLOW THE STEPS BELOW
# 1. CHECK FOR THE '=' SIGN AFTER THE VARIABLE NAME (THIS SHOWS THAT THE VARIABLE VALUE CAN BE CHANGED)
# 2. REMOVE THE LEADING '#' SYMBOL AND PROVIDE VALUE AFTER '=' SIGN
# 3. VARIABLES WITHOUT LEADING '#' ARE REQUIRED FIELDS

# NEXT_PUBLIC_BACKEND_URL=